In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
data = pd.read_csv('sampletsa.csv')
data.head()

            name  latitude  longitude     item        date
0            LAX      40.1     -100.1      gun  2018-01-01
1            DFW      45.1     -105.1    knife  2018-01-02
2  Other Airport      50.1     -110.1  bazooka  2018-01-03
3            LAX      40.1     -100.1    knife  2018-01-04
4            DFW      45.1     -105.1  bazooka  2018-01-05

In [4]:
engine = create_engine('sqlite:///db/mergemap.sqlite')

In [10]:
data.to_sql('incident', con=engine, if_exists='replace')